 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-1 .u-shape-1 {
  width: 801px;
  height: 552px;
  margin: 61px auto 0 118px;
}

.u-section-1 .u-image-1 {
  width: 920px;
  height: 669px;
  object-position: 0% 50%;
  background-position: 0% 50%;
  margin: -695px auto 0 -12px;
}

.u-section-1 .u-group-1 {
  min-height: 403px;
  width: 625px;
  margin: -153px 0 -83px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-family: "Advent Pro";
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 22px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9375rem;
  background-image: none;
  border-style: none;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-1 .u-shape-1 {
    width: 704px;
    height: 497px;
    margin-top: 203px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 840px;
    height: 643px;
    margin-top: -651px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -156px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-1 .u-shape-1 {
    width: 630px;
    height: 418px;
    margin-top: 123px;
    margin-left: 8px;
  }

  .u-section-1 .u-image-1 {
    width: 638px;
    height: 519px;
    margin-top: -518px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 419px;
    margin-top: -131px;
    margin-bottom: 46px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-shape-1 {
    width: 494px;
    height: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 518px;
    height: 438px;
    margin-top: -418px;
  }

  .u-section-1 .u-group-1 {
    min-height: 455px;
    width: 433px;
    margin-top: -103px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-1 .u-shape-1 {
    height: 227px;
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 318px;
    height: 275px;
    margin-top: -264px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -22px;
    margin-bottom: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 30px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 959px;
}

.u-section-2 .u-text-1 {
  font-family: Cambay;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 127px auto 0;
}

.u-section-2 .u-text-2 {
  width: 749px;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 219px;
  margin-top: 208px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -331px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 30px));
  min-height: 555px;
  grid-gap: 45px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 66px 0 43px;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.9375rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 66px 0 43px;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.9375rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-7 {
  letter-spacing: normal;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 66px 0 43px;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.9375rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 30px));
    min-height: 458px;
  }

  .u-section-2 .u-image-1 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 214px;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1505px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 22.5px));
    min-height: 1052px;
  }

  .u-section-2 .u-image-1 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 253px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 253px;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2599px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 439px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 439px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 439px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2265px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 324px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 293px;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 293px;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 293px;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 996px;
}

.u-section-3 .u-text-1 {
  font-family: Cambay;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 712px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-family: Cambay;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: normal;
  line-height: 25.6px;
  margin: 20px 0 0;
}

.u-section-3 .u-list-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-family: Cambay;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-9 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-10 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-family: Cambay;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-icon-11 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-12 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-13 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-14 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-11 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-family: Cambay;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-icon-16 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-17 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-18 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-19 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-20 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  font-family: Cambay;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-21 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 54px;
  width: 54px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-13 {
  font-family: Cambay;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-14 {
  font-style: normal;
  line-height: 25.6px;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-list-icon-26 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-27 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-28 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-29 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-icon-30 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 587px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1012px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 980px;
}

.u-section-4 .u-shape-1 {
  width: 732px;
  height: 482px;
  margin: 60px auto 0;
}

.u-section-4 .u-image-1 {
  width: 744px;
  height: 438px;
  margin: -460px auto 0;
}

.u-section-4 .u-text-1 {
  font-family: Cambay;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 50px auto 0;
}

.u-section-4 .u-text-2 {
  width: 710px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9375rem;
  font-weight: 700;
  background-image: none;
  align-self: center;
  margin: 32px auto 0;
  padding: 13px 49px 13px 48px;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 20px auto 60px;
}

.u-section-4 .u-btn-2 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 793px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-4 .u-shape-1 {
    width: 676px;
    height: 467px;
    margin-top: 31px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-1 {
    width: 669px;
    height: 395px;
    margin-top: -451px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-4 .u-shape-1 {
    height: 347px;
    width: 520px;
    margin-top: 54px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 319px;
    margin-top: -347px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-4 .u-shape-1 {
    height: 211px;
    width: 320px;
    margin-top: 60px;
    margin-left: 4px;
  }

  .u-section-4 .u-image-1 {
    width: 332px;
    height: 196px;
    margin-top: -211px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-bottom: 60px;
  }
}